classes/
compiledClasses/
outputfolder/
java2html/
javadoc/
.settings/
.externalToolBuilders/Ant.launch
*.jar
src/jminusminus/JavaCCParserTokenManager.java
src/jminusminus/JavaCCParserConstants.java
src/jminusminus/JavaCCParser.java